/* line 17, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Bold.woff") format("woff"), url("../fonts/National-Bold.ttf") format("truetype"), url("../fonts/National-Bold.svg#2757342ce4032dcc4479b1f9556ffdd5") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Book.woff") format("woff"), url("../fonts/National-Book.ttf") format("truetype"), url("../fonts/National-Book.svg#62964daa208bbf45b5fd237d4707a30a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-BookItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/National-BookItalic.woff") format("woff"), url("../fonts/National-BookItalic.ttf") format("truetype"), url("../fonts/National-BookItalic.svg#53ef13fcba8b7063c01909ad9d8801e8") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Medium.woff") format("woff"), url("../fonts/National-Medium.ttf") format("truetype"), url("../fonts/National-Medium.svg#2660ee565d1c1486a13f4accf05b8552") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/National-MediumItalic.woff") format("woff"), url("../fonts/National-MediumItalic.ttf") format("truetype"), url("../fonts/National-MediumItalic.svg#828e21499c03aefc343ca096f65d03db") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Regular.woff") format("woff"), url("../fonts/National-Regular.ttf") format("truetype"), url("../fonts/National-Regular.svg#defce5347fd21723f4d4b40234ae0572") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-RegularItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/National-RegularItalic.woff") format("woff"), url("../fonts/National-RegularItalic.ttf") format("truetype"), url("../fonts/National-RegularItalic.svg#8c7a9178c7b9f5015c0cb0d9861badb7") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/National-Semibold.woff") format("woff"), url("../fonts/National-Semibold.ttf") format("truetype"), url("../fonts/National-Semibold.svg#5b176ee2e3b886a98214a8d7fa37c4df") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'National';
  src: url("../fonts/National-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/National-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/National-SemiboldItalic.woff") format("woff"), url("../fonts/National-SemiboldItalic.ttf") format("truetype"), url("../fonts/National-SemiboldItalic.svg#9320a155abe2a7bb817488775a5e79c3") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 800;
}

/* line 1, ../scss/base/_body.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 6, ../scss/base/_body.scss */
body {
  width: 100%;
  margin-top: 5px;
  font-weight: 1em;
}

/* line 12, ../scss/base/_body.scss */
body:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  content: "";
  background-color: #3fcaaf;
}

/* line 20, ../scss/base/_body.scss */
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* line 26, ../scss/base/_body.scss */
.fullscreen-container {
  width: 100%;
  height: 100%;
  display: block;
  min-height: 100%;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.fullscreen-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../scss/layouts/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/layouts/_global.scss */
img {
  max-width: 100%;
}

/* line 1, ../scss/modules/_introduction.scss */
.logo {
  width: 323px;
  height: 75px;
  background-image: url(../img/logo.png);
  background-position: center center;
  background-size: 100%;
  margin: 70px auto 0 auto;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 10, ../scss/modules/_introduction.scss */
p {
  font-family: 'National';
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.4em;
}
/* line 16, ../scss/modules/_introduction.scss */
p mark {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  font-weight: 800;
  color: #fc8f51;
}

/* line 24, ../scss/modules/_introduction.scss */
section.introduction {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
/* line 28, ../scss/modules/_introduction.scss */
section.introduction p {
  position: relative;
  text-align: center;
  width: 78.125%;
  margin: 60px auto 0 auto;
  padding: 50px 0;
}
/* line 35, ../scss/modules/_introduction.scss */
section.introduction p:before {
  position: absolute;
  background-color: #C4C4C4;
  width: 36px;
  height: 1px;
  left: 50%;
  top: 0px;
  content: '';
  margin-left: -18px;
}
/* line 44, ../scss/modules/_introduction.scss */
section.introduction p:after {
  position: absolute;
  background-color: #C4C4C4;
  width: 36px;
  height: 1px;
  left: 50%;
  bottom: 0px;
  content: '';
  margin-left: -18px;
}
/* line 55, ../scss/modules/_introduction.scss */
section.introduction.out.out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}

/* line 1, ../scss/modules/_schoolform.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #E8E8E8;
  width: 350px;
  height: 58px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #bababa 0px 4px;
  -moz-box-shadow: #bababa 0px 4px;
  box-shadow: #bababa 0px 4px;
  border: 0px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding-left: 30px;
  font-family: 'National';
  font-weight: 300;
  font-size: 1.4em;
  position: relative;
  background-image: url(../img/chevron-down.png);
  background-repeat: no-repeat;
  background-position: 315px 25px;
  background-size: 15px;
  outline: none;
}

/* line 23, ../scss/modules/_schoolform.scss */
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #3fcaaf;
  -webkit-box-shadow: #32a18c 0px 4px;
  -moz-box-shadow: #32a18c 0px 4px;
  box-shadow: #32a18c 0px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: 'National';
  font-weight: 400;
  font-size: 1.4em;
  padding: 0.8em 0.8em 0.6em 0.8em;
  outline: none;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}
/* line 40, ../scss/modules/_schoolform.scss */
input[type=submit]:active {
  top: 2px;
  -webkit-box-shadow: #32a18c 0px 2px;
  -moz-box-shadow: #32a18c 0px 2px;
  box-shadow: #32a18c 0px 2px;
}
/* line 45, ../scss/modules/_schoolform.scss */
input[type=submit].facebook {
  background-image: url(../img/facebook.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 23px 17px;
  padding-left: 2.8em;
  padding-right: 1.1em;
}

/* line 55, ../scss/modules/_schoolform.scss */
section.schoolform {
  -webkit-transition: opacity 500ms ease-in-out, -webkit-transform 500ms ease-in-out, left 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out, -moz-transform 500ms ease-in-out, left 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out, -o-transform 500ms ease-in-out, left 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out, left 500ms ease-in-out;
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  margin-top: 60px;
}
/* line 60, ../scss/modules/_schoolform.scss */
section.schoolform.out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}

/* line 1, ../scss/modules/_results.scss */
.sidebar {
  width: 30%;
  float: left;
}
/* line 5, ../scss/modules/_results.scss */
.sidebar .logo {
  margin: 40px 0 0 40px;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* line 12, ../scss/modules/_results.scss */
.map {
  height: 100%;
  min-height: 100%;
  width: 70%;
  float: left;
}
/* line 18, ../scss/modules/_results.scss */
.map #map-canvas {
  height: 100%;
  min-height: 100%;
}

/* line 25, ../scss/modules/_results.scss */
ul#results {
  margin-left: 40px;
  margin-top: 40px;
}
/* line 29, ../scss/modules/_results.scss */
ul#results li {
  font-family: 'National';
  color: #303030;
}
/* line 33, ../scss/modules/_results.scss */
ul#results li .address {
  font-size: 1.4em;
  font-weight: 400;
  font-style: italic;
}
/* line 39, ../scss/modules/_results.scss */
ul#results li .rooms {
  font-size: 0.8em;
  font-weight: 400;
  color: #8A8A8A;
}
