.sidebar {
    width: 30%;
    float: left;

    .logo {
        margin: 40px 0 0 40px;
        @include scale(0.8, 0.8);
        @include transform-origin(0, 0);
    }
}

.map {
    height: 100%;
    min-height: 100%;
    width: 70%;
    float: right;
    right: 0;
    position: fixed;

    #map-canvas {
        height: 100%;
        min-height: 100%;

    }
}

ul#results {
    margin-top: 40px;

    li {
        font-family: 'National';
        color: #303030;
        padding-left: 2em;
        padding-bottom: 1em;
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 1em;

        .address {
            font-size: 1.4em;
            font-weight: 400;
            font-style: italic;
            display: block;
            margin-bottom: 6px;
        }

        .rooms {
            font-size: 1em;
            font-weight: 400;
            color: #8A8A8A;
            display: block;
        }
    }
}
